body{

    background: url(bgpic.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.regform{
    width:450px;
    margin:300px auto;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 10px 20px 30px;
    font-size: 30px; 
    border-radius: 8px;
}

h3{
   
    color: orange;
    text-align: center;
}

.textlabel {
      display: block;
} 

.input input{

    width:100%;
    font-size: 1em;
    border: 1px;
    border-radius: 7px;
    padding: 10px 10px 10px;
    margin: 5px 5px 5px;
    box-sizing: border-box;

}

input:focus{

    background-color: orangered;
}


.reg{
     
    text-align: center;
    
}

button{

    color:black;
    font-size:40px;
    background-color: orangered; 
    margin-top: 40px;
    padding: 10px 20px 10px;

}

.radio {

    margin-block: 5px;
    accent-color: aqua;

    

}

h4{
    margin-bottom: 4px;
    color: beige;
}